/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.center-content {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center align elements horizontally */
    text-align: center;
  }


/* Body Styling */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
}


/* Navbar Styles */
.navbar {
    background-color: #b39ddb;  /* Light purple */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    flex: 1;
    margin-bottom: 10px;
}

.logo-img {
    width: 50px;
    height: auto;
}

.nav-items {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.nav-items li {
    font-size: 18px;
}

.nav-items a {
    color: white;
    text-decoration: none;
    position: relative;
    padding: 10px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-items a.active {
    color: #7e57c2;
}

.nav-items a:hover {
    color: #9575cd;
}

.nav-items a::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #9575cd;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.nav-items a:hover::before {
    transform: scaleX(1);
}

#delivery-progress-button {
    padding: 12px 20px;
    background-color: #9575cd;  /* Purple background */
    color: white;
    font-size: 16px;
    border: none;
    margin-top: 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#delivery-progress-button:hover {
    background-color: #7e57c2;  /* Darker purple on hover */
}
